# === Global ===
.env
*.log
*.pot
*.pyc
__pycache__/
.DS_Store
Thumbs.db

# === Python / Django ===
*.sqlite3
db.sqlite3
media/
staticfiles/
*.py[cod]
__pycache__/
*.so
*.egg-info/
*.egg
.Python
venv/
.env/
.envrc
.mypy_cache/
pytest_cache/
.coverage
htmlcov/

# Django local settings
local_settings.py

# === Node / React ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
.pnp.js
.cache/
coverage/
build/
dist/

# === IDEs / Editors ===
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# === Docker ===
*.pid
*.seed
*.pid.lock
docker-compose.yml
